body{
    background-color:  #4d4d4d;
}
h1{
    font-size: 3.5rem;
    text-align: center;
    color: #DBEDF3;
  font-family: "Arvo", cursive;
}
.drum{
    width: 150px;
    height: 200px;
    margin-top: 150px;
    margin-left: 55px;

    justify-content:center;
    background-color: #DBEDF3;
    display: inline-block;

    font-size: 2rem;
    font-family: 'Arvo', cursive;
    text-align: center;

    border: 1px solid blueviolet;
    border-radius: 30px;
}
.w{
    background-image: url("./images/crash.png");
    /* width: 50%;
    height: 50%; */
}
.a{
    background-image: url("./images/kick.png");
}
.s{
    background-image: url("./images/snare.png");
    display: inline;
}
.d{
    background-image: url("./images/tom1.png");
}
.j{
    background-image: url("./images/tom2.png");
}
.k{
    background-image: url("./images/tom3.png");
}
.l{
    background-image: url("./images/tom4.png");
}
.footer{
    font-size: 3 rem;
    text-align: center;
    margin-top: 10%;
    font-family: sans-serif;
    background-color: white;
    border: 2px dotted grey;
    border-radius: 30px;
    width: 300px;
    margin-left: 42%;
}